.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0F7FA;
    padding: 20px;
  }
  
  .header-logo {
    max-width: 100%;
    height: auto;
  }
  