.banner {
    width: 100%;
    height: 300px; /* Normal banner boyutları için yükseklik ayarı */
    overflow: hidden; /* Taşma durumlarını gizlemek için */
    position: relative; /* Konumlandırma için gerekli */
  }
  
  .banner-image {
    width: 100%;
    height: auto;
    position: absolute; /* Banner'ı ortalamak için */
    top: 50%; /* Ortalamak için */
    left: 50%; /* Ortalamak için */
    transform: translate(-50%, -50%); /* Ortalamak için */
  }
  